{% extends "base.html" %}
{% block content %}

<form action="/breeds/{{breed.id}}" method="post">
  <div>
    <label for="breed_kind">Breed</label>
    <input type="text" id="breed_kind" name="breed_kind" value="{{breed.breed_kind}}" required autofocus>
  </div>

  
  <div>
    <label for="breed_seen">Have you seen this breed?</label>
    <select id="breed_seen" name="breed_seen">

      <option value="true"
        {% if breed.breed_seen == True %} selected="selected" {% endif %}>
        Yes
      </option>

      <option value="false"
        {% if breed.breed_seen == False %} selected="selected" {% endif %}>
        No
      </option>

    </select>
  </div>

  <div>
    <label for="animal">Animal</label>
    <select id="animal" name="animal_id">
      {% for animal in animals %}
        <option value="{{ animal.id }}"
          {% if breed.animal.id== animal.id %} selected="selected"{% endif %}>
          {{ animal.animal_name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Change Animal</button>

</form>

{% endblock %}