{% extends "base.html" %} 
{% block content %} 

<div class="page-title">
    <center>ADD ANIMALS</center> 
    </div>

<form action="/breeds" method="POST">
    <div class="container">
    <div class="box">
    <div>
        <label for="animal">Animal</label>
        <select id="animal" name="animal_id">

            {% for animal in animals %} 
            <option value={{animal.id}}>{{animal.animal_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="breed_kind">Breed</label>
        <input type="text" id="breed_kind" name="breed_kind" placeholder="Name of breed" required autofocus>
    </div>

    <div>
        <label for="breed_seen">Have you seen this breed?</label>
        <select name="breed_seen" id="breed_seen">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    </div>

    <button type="submit">Add </button>

</div>
</div>
</form>



{% endblock %}