{% extends "base.html" %} 
{% block content %} 

<div class="page-title">
    <h1 class="header">{{ header }}</h1>
    </div>
    <div class="padding-container">
    <div class="edit-box">
      
<form action="/animals" method="POST">
    <div class="container">
        
    <div class="box">
       
    <div>
        <label for="animal-type">SPECIES</label>
        <select id="animal-type" name="animal_type_id">

            {% for animal_type in animal_types %} 
            <option value={{animal_type.id}}>{{animal_type.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="spaceBetweenBoxes"></div>
    <div class="spaceBetweenBoxes"></div>
    <div class="space-between-labels"></div>
    <div>
        <label for="breed">BREED</label>
        <input type="text" id="breed" name="breed" placeholder="Name of breed" required autofocus>
    </div>

    <div class="spaceBetweenBoxes"></div>
    <div class="spaceBetweenBoxes"></div>
    <div class="space-between-labels"></div>
    <div>
        <label for="name">NAME</label>
        <input type="text" id="name" name="name" placeholder="Name of animal" required autofocus>
    </div>
    <div class="spaceBetweenBoxes"></div>
    <div class="spaceBetweenBoxes"></div>
    <div class="space-between-labels"></div>
    <div>
        <label for="seen">ANIMAL SEEN?</label>
        <select name="seen" id="seen">
        <option value="true">Yes</option>
        <option value="false">No</option>
        <!-- <label for="seen">have you seen this breed</label>
        <input type="checkbox" name="seen" value="false"> -->
    </select>
    </div>
    <div class="spaceBetweenBoxes"></div>
   
    <div class="space-between-labels"></div>

    <div class="add-edit-btn">
    <button type="submit">Add </button> </div>

</div>
</div>
</form>
    </div>

</div>


{% endblock %}