* {
    font-family:  'Bungee', cursive;
    cursor:crosshair;
  
}


body {background: rgb(169,241,242);
    background: radial-gradient(circle, rgba(169,241,242,1) 0%, rgba(204,144,196,1) 100%);} 
 
.header {
    text-align: center;
    text-shadow: 4px 4px 20px #4a39e4;
    /* margin-top: 3%; */
    
}


.main-nav {
    display: flex;
    margin-left: 5%;
    
  }

   
 
  .main-nav a{

   
    margin-right: auto;
    border-radius: 10px;
    background: whitesmoke;
    color: black;
    display: block;
    border: 5px solid  black;
    padding: 15px;
    text-decoration: none;
    text-shadow: 4px 4px 20px #2414b8; 
    
      
  }

.container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 10px;

}

.box{
    height: auto;
    width: auto;
    padding: 20px;
    margin: auto;
    border: 5px solid black;
    border-radius: 25px;
    background-color: whitesmoke;
    text-shadow: 4px 4px 20px #4a39e4;
    
}

.page-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;

}



.wrapper {
    display: flex;
    text-align: center;
    
    margin: 30px;
    margin-left: 3%;}
     
   
.space-between-header {
padding: 3%;

}     

    


.spaceBetweenBoxes {
padding: 0.7%;

}



.spaceBetweenBoxes-edit {
padding: 10%;

}

.space-between-labels {
    
   
    padding: 5%;
}

.homepage-text {
    font-size: 30px;
}

.add-edit-btn {
margin-left: 37%;

}



.text-box a {

color: black;
text-decoration: none;

     

}

.text-box {
    text-align: center;
    
   
}


.edit-box {
    font-size: 1.3rem;
    padding: 50px;
   

}

.animal-type-text {
font-size: 50px;
text-decoration: underline;

}

.animal-breed-text {

    font-size: 20px;
    padding: 5%;

}



.padding-container {
padding-bottom: 50px;


}


.spacebetweenboxes-species {
padding-bottom: 0px;

}


.true-false-text {
    font-size: 90px;
    text-align: center;
    text-shadow: 4px 4px 20px #4a39e4;
}






