<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <title>Animal BucketList</title>
</head>
<body>
<div class="containter">
<header>

<nav>
    <ul class="main-nav"> 
     <a href="/">HOME PAGE</a> 
     <a href="/animals"> ALL ANIMALS</a>
     <a href="/animal_types/new">ADD SPECIES</a>
     <a href="/animals/new">ADD ANIMAL</a>
     
     <a href="/animals/seen">ANIMALS SEEN</a>
   <a href="/animals/not_seen"> ANIMALS NOT SEEN </a>
        




       

       
       
       

      
       
       
  
    </ul>


        

<hr>
   


</ul>
</div>


</nav>

</header>

    

{% block content %}

{% endblock %}

</body>
</html>