<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


<div class="page-title">
    <h1 class="header">{{ header }}</h1>
    </div>

   
   
   
        <div class="wrapper">
            <div class="box">
                <div class="homepage-text"> ALL ANIMALS</div>
            <a href="/animals"><img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1906/saphatthachat190600141/126032185-vector-pixel-arte-shiba-perro-aislado-caricatura.jpg" height="250px" width= "250px" ></a>
        </div>
<div class="spaceBetweenBoxes"></div>
<div class="box">
    <div class="homepage-text"> ADD ANIMAL</div>
<a href="/animals/new"><img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1901/saphatthachat190100079/126415611-vektor-pixel-kunst-gecko-isoliert-cartoon.jpg" height="250px" width= "250px"></a>
</div>


<div class="spaceBetweenBoxes"></div>
<div class="box">
    <div class="homepage-text"> SEEN </div>
<a href="/animals/seen"><img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1903/saphatthachat190300179/120476226-vector-pixel-art-dove-isolated-cartoon.jpg" height="250px" width= "250px"></a>
</div>
<div class="spaceBetweenBoxes"></div>
<div class="box">
    <div class="homepage-text"> NOT SEEN</div>
<a href="/animals/not_seen"> <img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1902/saphatthachat190200002/125642981-vector-pixel-art-gato-mascota-dibujos-animados-aislados.jpg" height="250px" width= "250px"></a>
    
</div>
        
    </div>
