{% extends "base.html" %} 
{% block content %} 
<div class="page-title">
<h1 class="header">{{ header }}</h1>
</div>


<div class="spaceBetweenBoxes"></div>
   
<form action="/animal_types" method="POST">
    <div class="container">
    <div class="box">
        <div class="text-box">
        <label for="animal-type"> SPECIES</label>
    <input type="text" id="animal-type" name="name" placeholder="Name of species" required autofocus></div>
<br>
<div class="spaceBetweenBoxes"></div>

<div class="add-edit-btn">
    <button type="submit">Add </button></div>

</div>
</div>
</form>
  

<div class="spacebetweenboxes-species"></div>


<div class="wrapper">
    <div class="box">
        <img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1903/saphatthachat190300144/120476223-vector-pixel-art-narwhal-isolated-cartoon.jpg"height="100px" width= "100px">
    </div>

    <div class="box">
        <img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1902/saphatthachat190200009/118401324-vektor-pixel-kunst-schildkr%C3%B6te-isoliert-cartoon.jpg"height="100px" width= "100px">
    </div>

    <div class="box">
        <img src="https://previews.123rf.com/images/sararoom/sararoom1603/sararoom160300012/53525859-ilustraci%C3%B3n-de-dibujos-animados-pato-dise%C3%B1o-del-pixel.jpg"height="100px" width= "100px">
    </div>

    <div class="box">
        <img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1903/saphatthachat190300027/124750735-vector-pixel-art-elephant-bird-isolated-cartoon.jpg"height="100px" width= "100px">
    </div>

    <div class="box">
        <img src="https://previews.123rf.com/images/saphatthachat/saphatthachat1902/saphatthachat190200016/125583838-vecteur-pixel-art-girafe-isol%C3%A9-dessin-anim%C3%A9.jpg"height="100px" width= "100px">
    </div>





    </div>
{% endblock %}